{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.css" integrity="sha512-mjovQbhb+wenF5FA5dwuaDkL8kJP939w4IzeAOdQCy38YxVE2ZqYpNeI+UOPjFLIuy4eegipy89drdVQ+64DxQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="leftsidebar">leftsidebar</div>
        <div class="content">
            <div class="header">
                data
            </div>
            <div class="box">
                <div class="info">
                    <div class="img"><img src="https://media.istockphoto.com/photos/portrait-young-confident-smart-asian-businessman-look-at-camera-and-picture-id1288538088?b=1&k=20&m=1288538088&s=170667a&w=0&h=3efMku7kSXUhpVrErAVVgxp6G91tRZ_5seygOn68RnE="></div>
                    <div class="titlename">Gopipatwa</div>
                    <div class="options"><i class="bi-three-dots-vertical"></i></div>
                </div>
                <img src="https://media.istockphoto.com/photos/portrait-young-confident-smart-asian-businessman-look-at-camera-and-picture-id1288538088?b=1&k=20&m=1288538088&s=170667a&w=0&h=3efMku7kSXUhpVrErAVVgxp6G91tRZ_5seygOn68RnE=" alt="Not Found">
                <div class="action">
                    <div class="like"><i class="bi bi-heart"></i></div>
                    <div class="comment"><i class="bi bi-chat-dots"></i></div>
                    <div class="share"><i class="bi bi-share"></i></div>
                </div>
            </div>
            <div class="box">
                <img src="https://media.istockphoto.com/photos/portrait-young-confident-smart-asian-businessman-look-at-camera-and-picture-id1288538088?b=1&k=20&m=1288538088&s=170667a&w=0&h=3efMku7kSXUhpVrErAVVgxp6G91tRZ_5seygOn68RnE=" alt="Not Found">
            </div>
            <div class="box">
                <img src="https://media.istockphoto.com/photos/portrait-young-confident-smart-asian-businessman-look-at-camera-and-picture-id1288538088?b=1&k=20&m=1288538088&s=170667a&w=0&h=3efMku7kSXUhpVrErAVVgxp6G91tRZ_5seygOn68RnE=" alt="Not Found">
            </div>
        </div>
        <div class="rightsidebar">rightsidebar</div>
    </div>
    <center>
        <h1> Live Video Stream </h1>
        <!-- <img src = "{% url 'video_stream' %}"> -->
      </center>
</body>
</html>